USE [master]
GO
/****** Object:  Database [db_temperatura]    Script Date: 03/10/2024 9:47:40 ******/
CREATE DATABASE [db_temperatura]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_temperatura', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSV\MSSQL\DATA\db_temperatura.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_temperatura_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSV\MSSQL\DATA\db_temperatura_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_temperatura].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_temperatura]
GO
/****** Object:  Table [dbo].[Temperaturas]    Script Date: 03/10/2024 9:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temperaturas](
	[IoT] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Valor] [float] NOT NULL,
 CONSTRAINT [PK_Temperaturas] PRIMARY KEY CLUSTERED 
(
	[IoT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Temperaturas] ON 

INSERT [dbo].[Temperaturas] ([IoT], [FechaHora], [Valor]) VALUES (1, CAST(N'2024-10-03 09:44:19.270' AS DateTime), 20)
SET IDENTITY_INSERT [dbo].[Temperaturas] OFF
USE [master]
GO
