USE [master]
GO
/****** Object:  Database [CineMax]    Script Date: 02/11/2024 20:23:50 ******/
CREATE DATABASE [CineMax]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CineMax', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CineMax.mdf' , SIZE = 9216KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CineMax_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CineMax_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CineMax].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CineMax]
GO
/****** Object:  UserDefinedFunction [dbo].[f_fecha]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[f_fecha]
(@fecha datetime)
returns varchar(8)
as
begin
	declare @fechatxt varchar(8)
	set @fechatxt = trim(str(year(@fecha),4))+
	right('0'+trim(str(month(@fecha))),2)+
	right('0'+trim(str(day(@fecha))),2)
	
	return @fechatxt
end
GO
/****** Object:  UserDefinedFunction [dbo].[f_hora]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[f_hora] ()
returns varchar(8)
as
begin
	declare @hora varchar(8)
	set @hora=convert(varchar(8),getdate(),108)
	return @hora
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_butacas_disponibles]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_butacas_disponibles]
(
    @id_funcion INT,
    @id_butaca INT,
    @id_sala INT
)
RETURNS BIT
AS
BEGIN
    DECLARE @disponible BIT = 1

    -- Validar si la butaca está reservada para la función
    IF EXISTS (SELECT 1
        	 FROM BUTACAS_RESERVADAS br
        	 WHERE br.ID_FUNCION = @id_funcion
        	 AND br.ID_BUTACA = @id_butaca
		 AND br.id_sala=@id_sala
    		 )
    	BEGIN
       	SET @disponible = 0 -- Butaca reservada
        	RETURN @disponible
    	END

    -- Validar si la butaca está comprada
    IF EXISTS (SELECT 1
        	 FROM DETALLES_COMPRA dc
		 JOIN FUNCIONES f ON f.ID_FUNCION=dc.id_funcion
        	 WHERE dc.ID_BUTACA = @id_butaca
		 AND f.id_sala=@id_sala
    		 )
    	BEGIN
        	SET @disponible = 0 -- Butaca comprada
    	END

    RETURN @disponible
END

GO
/****** Object:  Table [dbo].[BUTACAS]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUTACAS](
	[ID_BUTACA] [int] NOT NULL,
	[NRO_BUTACA] [int] NOT NULL,
	[FILA] [int] NOT NULL,
	[id_sala] [int] NOT NULL,
 CONSTRAINT [pk_butacas_compuesta] PRIMARY KEY CLUSTERED 
(
	[ID_BUTACA] ASC,
	[id_sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUTACAS_RESERVADAS]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUTACAS_RESERVADAS](
	[ID_RESERVA] [int] NOT NULL,
	[ID_BUTACA] [int] NOT NULL,
	[ID_FUNCION] [int] NOT NULL,
	[id_sala] [int] NOT NULL,
 CONSTRAINT [pk_butacas_reservadas_compuesta] PRIMARY KEY CLUSTERED 
(
	[ID_BUTACA] ASC,
	[ID_FUNCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[ID_TIPO_DOC] [int] NOT NULL,
	[NRO_DOC] [varchar](50) NOT NULL,
	[FECHA_NAC] [datetime] NOT NULL,
	[ID_BARRIO] [int] NOT NULL,
	[CALLE] [varchar](80) NOT NULL,
	[ALTURA] [bigint] NOT NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRAS]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRAS](
	[ID_COMPRA] [int] IDENTITY(1,1) NOT NULL,
	[ID_EMPLEADO] [int] NOT NULL,
	[FECHA_COMPRA] [datetime] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_FORMA_PAGO] [int] NOT NULL,
	[ID_TIPO_COMPRA] [int] NOT NULL,
	[DESCUENTO] [float] NULL,
 CONSTRAINT [PK_COMPRAS] PRIMARY KEY CLUSTERED 
(
	[ID_COMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLES_COMPRA]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLES_COMPRA](
	[ID_DETALLE_COMPRA] [int] IDENTITY(1,1) NOT NULL,
	[ID_COMPRA] [int] NOT NULL,
	[PRECIO_ENTRADA] [money] NOT NULL,
	[id_butaca] [int] NOT NULL,
	[id_funcion] [int] NOT NULL,
 CONSTRAINT [PK_DETALLES_COMPRA] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_COMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALAS]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALAS](
	[ID_SALA] [int] NOT NULL,
	[CAPACIDAD] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
	[ID_TIPO_SALA] [int] NOT NULL,
 CONSTRAINT [PK_SALAS] PRIMARY KEY CLUSTERED 
(
	[ID_SALA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vis_DetallesCompras]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[Vis_DetallesCompras] 
AS
SELECT c.ID_CLIENTE AS IdCliente, c.NOMBRE+' '+C.APELLIDO AS NombreCliente, co.FECHA_COMPRA AS FechaCompra, b.NRO_BUTACA AS ButacaReservada, s.DESCRIPCION AS Sala, 
(SELECT SUM(dc2.PRECIO_ENTRADA)
 FROM DETALLES_COMPRA dc2 
 JOIN COMPRAS co2 ON dc2.ID_COMPRA = co2.ID_COMPRA						
 WHERE co2.ID_CLIENTE = c.ID_CLIENTE) AS PrecioTotal
FROM CLIENTES c
JOIN COMPRAS co ON c.ID_CLIENTE = co.ID_CLIENTE
JOIN DETALLES_COMPRA dc ON co.ID_COMPRA = dc.ID_COMPRA
JOIN BUTACAS_RESERVADAS br ON dc.id_funcion = br.ID_FUNCION
JOIN BUTACAS b ON br.id_butaca = b.id_butaca
JOIN SALAS s ON b.id_sala = s.id_sala
GO
/****** Object:  Table [dbo].[BARRIOS]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BARRIOS](
	[ID_BARRIO] [int] IDENTITY(1,1) NOT NULL,
	[BARRIO] [varchar](50) NOT NULL,
	[ID_CIUDAD] [int] NOT NULL,
 CONSTRAINT [PK_BARRIOS] PRIMARY KEY CLUSTERED 
(
	[ID_BARRIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CALIFICACIONES]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALIFICACIONES](
	[ID_CALIFICACION] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CALIFICACIONES] PRIMARY KEY CLUSTERED 
(
	[ID_CALIFICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CIUDADES]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIUDADES](
	[ID_CIUDAD] [int] IDENTITY(1,1) NOT NULL,
	[CIUDAD] [varchar](50) NOT NULL,
	[ID_PROVINCIA] [int] NOT NULL,
 CONSTRAINT [PK_CIUDADES] PRIMARY KEY CLUSTERED 
(
	[ID_CIUDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTACTOS]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACTOS](
	[ID_CONTACTO] [int] IDENTITY(1,1) NOT NULL,
	[CONTACTO] [varchar](50) NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[ID_EMPLEADO] [int] NULL,
	[ID_TIPO_CONTACTO] [int] NOT NULL,
 CONSTRAINT [PK_CONTACTOS] PRIMARY KEY CLUSTERED 
(
	[ID_CONTACTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_BUTACAS]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_BUTACAS](
	[ID_BUTACA] [int] NOT NULL,
	[id_funcion] [int] NOT NULL,
	[id_sala] [int] NOT NULL,
 CONSTRAINT [pk_det_butacas_compuesta] PRIMARY KEY CLUSTERED 
(
	[ID_BUTACA] ASC,
	[id_funcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRIBUIDORES]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRIBUIDORES](
	[ID_DISTRIBUIDOR] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DISTRIBUIDORES] PRIMARY KEY CLUSTERED 
(
	[ID_DISTRIBUIDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[ID_EMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[ID_TIPO_DOC] [int] NOT NULL,
	[NRO_DOC] [varchar](50) NOT NULL,
	[FECHA_NAC] [datetime] NOT NULL,
	[ID_BARRIO] [int] NOT NULL,
	[CALLE] [varchar](80) NOT NULL,
	[ALTURA] [bigint] NOT NULL,
	[FECHA_INGRESO] [datetime] NOT NULL,
	[ID_TIPO_EMPLEADO] [int] NOT NULL,
 CONSTRAINT [PK_EMPLEADOS] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOS]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOS](
	[ID_ESTADO] [int] IDENTITY(1,1) NOT NULL,
	[ESTADO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ESTADOS] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMAS_PAGO]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMAS_PAGO](
	[ID_FORMA_PAGO] [int] IDENTITY(1,1) NOT NULL,
	[FORMA_PAGO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FORMAS_PAGO] PRIMARY KEY CLUSTERED 
(
	[ID_FORMA_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUNCIONES]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCIONES](
	[ID_FUNCION] [int] IDENTITY(1,1) NOT NULL,
	[ID_PELICULA] [int] NOT NULL,
	[ID_SALA] [int] NOT NULL,
	[FECHA_FUNCION] [datetime] NOT NULL,
	[HS_INICIO] [time](7) NOT NULL,
	[PRECIO_BASE] [money] NOT NULL,
	[ID_PROMOCION] [int] NOT NULL,
 CONSTRAINT [PK_FUNCIONES] PRIMARY KEY CLUSTERED 
(
	[ID_FUNCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENEROS]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENEROS](
	[ID_GENERO] [int] IDENTITY(1,1) NOT NULL,
	[GENERO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_GENEROS] PRIMARY KEY CLUSTERED 
(
	[ID_GENERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAISES]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAISES](
	[ID_PAIS] [int] IDENTITY(1,1) NOT NULL,
	[PAIS] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PAISES] PRIMARY KEY CLUSTERED 
(
	[ID_PAIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PELICULAS]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PELICULAS](
	[ID_PELICULA] [int] IDENTITY(1,1) NOT NULL,
	[TITULO] [varchar](50) NOT NULL,
	[DURACION] [time](7) NOT NULL,
	[APELLIDO_DIRECTOR] [varchar](50) NOT NULL,
	[NOMBRE_DIRECTOR] [varchar](50) NOT NULL,
	[APELLIDO_ACTOR] [varchar](50) NOT NULL,
	[NOMBRE_ACTOR] [varchar](50) NOT NULL,
	[ID_TIPO_PELICULA] [int] NOT NULL,
	[ID_CALIFICACION] [int] NOT NULL,
	[ID_DISTRIBUIDOR] [int] NOT NULL,
	[ESTA_ACTIVO] [bit] NOT NULL,
	[ID_PAIS] [int] NOT NULL,
 CONSTRAINT [PK_PELICULAS] PRIMARY KEY CLUSTERED 
(
	[ID_PELICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PELICULAS_GENEROS]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PELICULAS_GENEROS](
	[ID_GENERO] [int] NOT NULL,
	[ID_PELICULA] [int] NOT NULL,
 CONSTRAINT [PK_PELICULAS_GENEROS] PRIMARY KEY CLUSTERED 
(
	[ID_GENERO] ASC,
	[ID_PELICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROMOCIONES]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROMOCIONES](
	[ID_PROMOCION] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](100) NOT NULL,
	[DESCUENTO] [float] NOT NULL,
 CONSTRAINT [PK_PROMOCIONES] PRIMARY KEY CLUSTERED 
(
	[ID_PROMOCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIAS]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIAS](
	[ID_PROVINCIA] [int] IDENTITY(1,1) NOT NULL,
	[PROVINCIA] [varchar](50) NOT NULL,
	[ID_PAIS] [int] NOT NULL,
 CONSTRAINT [PK_PROVINICIAS] PRIMARY KEY CLUSTERED 
(
	[ID_PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVAS]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVAS](
	[ID_RESERVA] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_FUNCION] [int] NOT NULL,
	[FECHA_RESERVA] [datetime] NOT NULL,
	[CANTIDAD_ENTRADAS] [int] NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
	[ID_COMPRA] [int] NULL,
 CONSTRAINT [PK_RESERVAS] PRIMARY KEY CLUSTERED 
(
	[ID_RESERVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_COMPRA]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_COMPRA](
	[ID_TIPO_COMPRA] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_COMPRA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIPOS_COMPRA] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_COMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_CONTACTO]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_CONTACTO](
	[ID_TIPO_CONTACTO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIPO_CONTACTOS] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_CONTACTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_DOCUMENTO]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_DOCUMENTO](
	[ID_TIPO_DOC] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_DOC] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIPOS_DOCUMENTOS] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_DOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_EMPLEADO]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_EMPLEADO](
	[ID_TIPO_EMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_EMPLEADO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIPOS_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_PELICULA]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_PELICULA](
	[ID_TIPO_PELICULA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIPOS_PELICULA] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_PELICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_SALA]    Script Date: 02/11/2024 20:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_SALA](
	[ID_TIPO_SALA] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_SALA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIPOS_SALA] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_SALA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BARRIOS] ON 

INSERT [dbo].[BARRIOS] ([ID_BARRIO], [BARRIO], [ID_CIUDAD]) VALUES (1, N'Nueva Córdoba', 1)
INSERT [dbo].[BARRIOS] ([ID_BARRIO], [BARRIO], [ID_CIUDAD]) VALUES (2, N'General Paz', 1)
INSERT [dbo].[BARRIOS] ([ID_BARRIO], [BARRIO], [ID_CIUDAD]) VALUES (3, N'Recoleta', 2)
SET IDENTITY_INSERT [dbo].[BARRIOS] OFF
GO
INSERT [dbo].[BUTACAS] ([ID_BUTACA], [NRO_BUTACA], [FILA], [id_sala]) VALUES (1, 1, 1, 1)
INSERT [dbo].[BUTACAS] ([ID_BUTACA], [NRO_BUTACA], [FILA], [id_sala]) VALUES (1, 1, 1, 2)
INSERT [dbo].[BUTACAS] ([ID_BUTACA], [NRO_BUTACA], [FILA], [id_sala]) VALUES (1, 1, 1, 3)
GO
INSERT [dbo].[BUTACAS_RESERVADAS] ([ID_RESERVA], [ID_BUTACA], [ID_FUNCION], [id_sala]) VALUES (3, 1, 1, 1)
INSERT [dbo].[BUTACAS_RESERVADAS] ([ID_RESERVA], [ID_BUTACA], [ID_FUNCION], [id_sala]) VALUES (13, 1, 15, 1)
INSERT [dbo].[BUTACAS_RESERVADAS] ([ID_RESERVA], [ID_BUTACA], [ID_FUNCION], [id_sala]) VALUES (12, 2, 13, 1)
GO
SET IDENTITY_INSERT [dbo].[CALIFICACIONES] ON 

INSERT [dbo].[CALIFICACIONES] ([ID_CALIFICACION], [DESCRIPCION]) VALUES (1, N'ATP')
INSERT [dbo].[CALIFICACIONES] ([ID_CALIFICACION], [DESCRIPCION]) VALUES (2, N'SAM 13')
INSERT [dbo].[CALIFICACIONES] ([ID_CALIFICACION], [DESCRIPCION]) VALUES (3, N'SAM 16')
SET IDENTITY_INSERT [dbo].[CALIFICACIONES] OFF
GO
SET IDENTITY_INSERT [dbo].[CIUDADES] ON 

INSERT [dbo].[CIUDADES] ([ID_CIUDAD], [CIUDAD], [ID_PROVINCIA]) VALUES (1, N'Córdoba Capital', 1)
INSERT [dbo].[CIUDADES] ([ID_CIUDAD], [CIUDAD], [ID_PROVINCIA]) VALUES (2, N'La Plata', 2)
INSERT [dbo].[CIUDADES] ([ID_CIUDAD], [CIUDAD], [ID_PROVINCIA]) VALUES (3, N'Rosario', 3)
SET IDENTITY_INSERT [dbo].[CIUDADES] OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENTES] ON 

INSERT [dbo].[CLIENTES] ([ID_CLIENTE], [NOMBRE], [APELLIDO], [ID_TIPO_DOC], [NRO_DOC], [FECHA_NAC], [ID_BARRIO], [CALLE], [ALTURA], [Estado]) VALUES (1, N'Juan', N'Perez', 1, N'38211993', CAST(N'1985-03-15T00:00:00.000' AS DateTime), 1, N'Obispo Trejo', 203, NULL)
INSERT [dbo].[CLIENTES] ([ID_CLIENTE], [NOMBRE], [APELLIDO], [ID_TIPO_DOC], [NRO_DOC], [FECHA_NAC], [ID_BARRIO], [CALLE], [ALTURA], [Estado]) VALUES (4, N'Ana', N'Gomez', 1, N'29344553', CAST(N'1990-07-22T00:00:00.000' AS DateTime), 1, N'Balcarce', 532, NULL)
INSERT [dbo].[CLIENTES] ([ID_CLIENTE], [NOMBRE], [APELLIDO], [ID_TIPO_DOC], [NRO_DOC], [FECHA_NAC], [ID_BARRIO], [CALLE], [ALTURA], [Estado]) VALUES (5, N'Carlos', N'Rodriguez', 2, N'AA938219', CAST(N'1982-11-30T00:00:00.000' AS DateTime), 2, N'Ovidio Lagos', 1820, NULL)
SET IDENTITY_INSERT [dbo].[CLIENTES] OFF
GO
SET IDENTITY_INSERT [dbo].[COMPRAS] ON 

INSERT [dbo].[COMPRAS] ([ID_COMPRA], [ID_EMPLEADO], [FECHA_COMPRA], [ID_CLIENTE], [ID_FORMA_PAGO], [ID_TIPO_COMPRA], [DESCUENTO]) VALUES (1, 1, CAST(N'2023-08-15T00:00:00.000' AS DateTime), 1, 2, 2, 0.9)
INSERT [dbo].[COMPRAS] ([ID_COMPRA], [ID_EMPLEADO], [FECHA_COMPRA], [ID_CLIENTE], [ID_FORMA_PAGO], [ID_TIPO_COMPRA], [DESCUENTO]) VALUES (3, 4, CAST(N'2024-08-05T00:00:00.000' AS DateTime), 1, 3, 2, 1)
INSERT [dbo].[COMPRAS] ([ID_COMPRA], [ID_EMPLEADO], [FECHA_COMPRA], [ID_CLIENTE], [ID_FORMA_PAGO], [ID_TIPO_COMPRA], [DESCUENTO]) VALUES (6, 5, CAST(N'2022-02-15T00:00:00.000' AS DateTime), 4, 1, 1, 0.8)
SET IDENTITY_INSERT [dbo].[COMPRAS] OFF
GO
SET IDENTITY_INSERT [dbo].[CONTACTOS] ON 

INSERT [dbo].[CONTACTOS] ([ID_CONTACTO], [CONTACTO], [ID_CLIENTE], [ID_EMPLEADO], [ID_TIPO_CONTACTO]) VALUES (2, N'3511234567', 1, NULL, 1)
INSERT [dbo].[CONTACTOS] ([ID_CONTACTO], [CONTACTO], [ID_CLIENTE], [ID_EMPLEADO], [ID_TIPO_CONTACTO]) VALUES (3, N'empleado2@example.com', NULL, 3, 3)
INSERT [dbo].[CONTACTOS] ([ID_CONTACTO], [CONTACTO], [ID_CLIENTE], [ID_EMPLEADO], [ID_TIPO_CONTACTO]) VALUES (4, N'3517890123', NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[CONTACTOS] OFF
GO
INSERT [dbo].[DETALLE_BUTACAS] ([ID_BUTACA], [id_funcion], [id_sala]) VALUES (1, 1, 1)
INSERT [dbo].[DETALLE_BUTACAS] ([ID_BUTACA], [id_funcion], [id_sala]) VALUES (1, 13, 1)
INSERT [dbo].[DETALLE_BUTACAS] ([ID_BUTACA], [id_funcion], [id_sala]) VALUES (2, 13, 1)
GO
SET IDENTITY_INSERT [dbo].[DETALLES_COMPRA] ON 

INSERT [dbo].[DETALLES_COMPRA] ([ID_DETALLE_COMPRA], [ID_COMPRA], [PRECIO_ENTRADA], [id_butaca], [id_funcion]) VALUES (2, 1, 20000.0000, 1, 1)
INSERT [dbo].[DETALLES_COMPRA] ([ID_DETALLE_COMPRA], [ID_COMPRA], [PRECIO_ENTRADA], [id_butaca], [id_funcion]) VALUES (6, 3, 15000.0000, 1, 13)
INSERT [dbo].[DETALLES_COMPRA] ([ID_DETALLE_COMPRA], [ID_COMPRA], [PRECIO_ENTRADA], [id_butaca], [id_funcion]) VALUES (9, 6, 20000.0000, 2, 13)
SET IDENTITY_INSERT [dbo].[DETALLES_COMPRA] OFF
GO
SET IDENTITY_INSERT [dbo].[DISTRIBUIDORES] ON 

INSERT [dbo].[DISTRIBUIDORES] ([ID_DISTRIBUIDOR], [DESCRIPCION]) VALUES (1, N'Warner Bros')
INSERT [dbo].[DISTRIBUIDORES] ([ID_DISTRIBUIDOR], [DESCRIPCION]) VALUES (2, N'UIP')
INSERT [dbo].[DISTRIBUIDORES] ([ID_DISTRIBUIDOR], [DESCRIPCION]) VALUES (3, N'Diamond')
SET IDENTITY_INSERT [dbo].[DISTRIBUIDORES] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLEADOS] ON 

INSERT [dbo].[EMPLEADOS] ([ID_EMPLEADO], [NOMBRE], [APELLIDO], [ID_TIPO_DOC], [NRO_DOC], [FECHA_NAC], [ID_BARRIO], [CALLE], [ALTURA], [FECHA_INGRESO], [ID_TIPO_EMPLEADO]) VALUES (1, N'Lucía', N'Fernández', 1, N'32999332', CAST(N'1980-02-18T00:00:00.000' AS DateTime), 4, N'9 de julio', 210, CAST(N'2020-03-08T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[EMPLEADOS] ([ID_EMPLEADO], [NOMBRE], [APELLIDO], [ID_TIPO_DOC], [NRO_DOC], [FECHA_NAC], [ID_BARRIO], [CALLE], [ALTURA], [FECHA_INGRESO], [ID_TIPO_EMPLEADO]) VALUES (3, N'Pedro', N'Martínez', 1, N'40221931', CAST(N'1997-09-09T00:00:00.000' AS DateTime), 1, N'Obispo Oro', 782, CAST(N'2022-09-19T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[EMPLEADOS] ([ID_EMPLEADO], [NOMBRE], [APELLIDO], [ID_TIPO_DOC], [NRO_DOC], [FECHA_NAC], [ID_BARRIO], [CALLE], [ALTURA], [FECHA_INGRESO], [ID_TIPO_EMPLEADO]) VALUES (4, N'Sofía', N'García', 1, N'36922124', CAST(N'1992-04-05T00:00:00.000' AS DateTime), 2, N'Sacramento', 2223, CAST(N'2022-08-25T00:00:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[EMPLEADOS] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTADOS] ON 

INSERT [dbo].[ESTADOS] ([ID_ESTADO], [ESTADO]) VALUES (1, N'Confirmado')
INSERT [dbo].[ESTADOS] ([ID_ESTADO], [ESTADO]) VALUES (2, N'Pendiente')
INSERT [dbo].[ESTADOS] ([ID_ESTADO], [ESTADO]) VALUES (3, N'Cancelado')
SET IDENTITY_INSERT [dbo].[ESTADOS] OFF
GO
SET IDENTITY_INSERT [dbo].[FORMAS_PAGO] ON 

INSERT [dbo].[FORMAS_PAGO] ([ID_FORMA_PAGO], [FORMA_PAGO]) VALUES (1, N'Efectivo')
INSERT [dbo].[FORMAS_PAGO] ([ID_FORMA_PAGO], [FORMA_PAGO]) VALUES (2, N'Tarjeta de Crédito')
INSERT [dbo].[FORMAS_PAGO] ([ID_FORMA_PAGO], [FORMA_PAGO]) VALUES (3, N'Tarjeta de Débito')
SET IDENTITY_INSERT [dbo].[FORMAS_PAGO] OFF
GO
SET IDENTITY_INSERT [dbo].[FUNCIONES] ON 

INSERT [dbo].[FUNCIONES] ([ID_FUNCION], [ID_PELICULA], [ID_SALA], [FECHA_FUNCION], [HS_INICIO], [PRECIO_BASE], [ID_PROMOCION]) VALUES (1, 1, 1, CAST(N'2024-10-10T00:00:00.000' AS DateTime), CAST(N'18:00:00' AS Time), 2500.0000, 1)
INSERT [dbo].[FUNCIONES] ([ID_FUNCION], [ID_PELICULA], [ID_SALA], [FECHA_FUNCION], [HS_INICIO], [PRECIO_BASE], [ID_PROMOCION]) VALUES (5, 1, 2, CAST(N'2024-10-11T00:00:00.000' AS DateTime), CAST(N'20:00:00' AS Time), 3000.0000, 3)
INSERT [dbo].[FUNCIONES] ([ID_FUNCION], [ID_PELICULA], [ID_SALA], [FECHA_FUNCION], [HS_INICIO], [PRECIO_BASE], [ID_PROMOCION]) VALUES (13, 2, 2, CAST(N'2024-10-13T00:00:00.000' AS DateTime), CAST(N'21:00:00' AS Time), 5000.0000, 5)
SET IDENTITY_INSERT [dbo].[FUNCIONES] OFF
GO
SET IDENTITY_INSERT [dbo].[GENEROS] ON 

INSERT [dbo].[GENEROS] ([ID_GENERO], [GENERO]) VALUES (1, N'Acción')
INSERT [dbo].[GENEROS] ([ID_GENERO], [GENERO]) VALUES (2, N'Terror')
INSERT [dbo].[GENEROS] ([ID_GENERO], [GENERO]) VALUES (3, N'Drama')
SET IDENTITY_INSERT [dbo].[GENEROS] OFF
GO
SET IDENTITY_INSERT [dbo].[PAISES] ON 

INSERT [dbo].[PAISES] ([ID_PAIS], [PAIS]) VALUES (1, N'Argentina')
INSERT [dbo].[PAISES] ([ID_PAIS], [PAIS]) VALUES (2, N'Estados Unidos')
INSERT [dbo].[PAISES] ([ID_PAIS], [PAIS]) VALUES (3, N'Inglaterra')
SET IDENTITY_INSERT [dbo].[PAISES] OFF
GO
SET IDENTITY_INSERT [dbo].[PELICULAS] ON 

INSERT [dbo].[PELICULAS] ([ID_PELICULA], [TITULO], [DURACION], [APELLIDO_DIRECTOR], [NOMBRE_DIRECTOR], [APELLIDO_ACTOR], [NOMBRE_ACTOR], [ID_TIPO_PELICULA], [ID_CALIFICACION], [ID_DISTRIBUIDOR], [ESTA_ACTIVO], [ID_PAIS]) VALUES (1, N'HELLBOY THE CROOKED MAN', CAST(N'01:40:00' AS Time), N'Taylor', N'Brian', N'White', N'Jack Kesy Jefferson', 1, 2, 6, 1, 2)
INSERT [dbo].[PELICULAS] ([ID_PELICULA], [TITULO], [DURACION], [APELLIDO_DIRECTOR], [NOMBRE_DIRECTOR], [APELLIDO_ACTOR], [NOMBRE_ACTOR], [ID_TIPO_PELICULA], [ID_CALIFICACION], [ID_DISTRIBUIDOR], [ESTA_ACTIVO], [ID_PAIS]) VALUES (2, N'LINDA', CAST(N'01:40:00' AS Time), N'Wainstein', N'Mariana', N'Suarez', N'China', 1, 2, 4, 1, 1)
INSERT [dbo].[PELICULAS] ([ID_PELICULA], [TITULO], [DURACION], [APELLIDO_DIRECTOR], [NOMBRE_DIRECTOR], [APELLIDO_ACTOR], [NOMBRE_ACTOR], [ID_TIPO_PELICULA], [ID_CALIFICACION], [ID_DISTRIBUIDOR], [ESTA_ACTIVO], [ID_PAIS]) VALUES (3, N'GRACIE AND PEDRO', CAST(N'01:27:00' AS Time), N'Donovan', N'Kevin', N'Tenorio', N'Cris', 1, 1, 6, 1, 2)
SET IDENTITY_INSERT [dbo].[PELICULAS] OFF
GO
INSERT [dbo].[PELICULAS_GENEROS] ([ID_GENERO], [ID_PELICULA]) VALUES (2, 1)
INSERT [dbo].[PELICULAS_GENEROS] ([ID_GENERO], [ID_PELICULA]) VALUES (3, 2)
INSERT [dbo].[PELICULAS_GENEROS] ([ID_GENERO], [ID_PELICULA]) VALUES (4, 3)
GO
SET IDENTITY_INSERT [dbo].[PROMOCIONES] ON 

INSERT [dbo].[PROMOCIONES] ([ID_PROMOCION], [DESCRIPCION], [DESCUENTO]) VALUES (1, N'Descuento del 10%', 10)
INSERT [dbo].[PROMOCIONES] ([ID_PROMOCION], [DESCRIPCION], [DESCUENTO]) VALUES (2, N'Día del Espectador', 15)
INSERT [dbo].[PROMOCIONES] ([ID_PROMOCION], [DESCRIPCION], [DESCUENTO]) VALUES (3, N'2x1 Miércoles', 50)
SET IDENTITY_INSERT [dbo].[PROMOCIONES] OFF
GO
SET IDENTITY_INSERT [dbo].[PROVINCIAS] ON 

INSERT [dbo].[PROVINCIAS] ([ID_PROVINCIA], [PROVINCIA], [ID_PAIS]) VALUES (1, N'Córdoba', 1)
INSERT [dbo].[PROVINCIAS] ([ID_PROVINCIA], [PROVINCIA], [ID_PAIS]) VALUES (2, N'Buenos Aires', 1)
INSERT [dbo].[PROVINCIAS] ([ID_PROVINCIA], [PROVINCIA], [ID_PAIS]) VALUES (3, N'Santa Fe', 1)
SET IDENTITY_INSERT [dbo].[PROVINCIAS] OFF
GO
SET IDENTITY_INSERT [dbo].[RESERVAS] ON 

INSERT [dbo].[RESERVAS] ([ID_RESERVA], [ID_CLIENTE], [ID_FUNCION], [FECHA_RESERVA], [CANTIDAD_ENTRADAS], [ID_ESTADO], [ID_COMPRA]) VALUES (3, 1, 1, CAST(N'2024-05-10T00:00:00.000' AS DateTime), 2, 1, 1)
INSERT [dbo].[RESERVAS] ([ID_RESERVA], [ID_CLIENTE], [ID_FUNCION], [FECHA_RESERVA], [CANTIDAD_ENTRADAS], [ID_ESTADO], [ID_COMPRA]) VALUES (10, 1, 1, CAST(N'2024-10-20T00:00:00.000' AS DateTime), 2, 1, 1)
INSERT [dbo].[RESERVAS] ([ID_RESERVA], [ID_CLIENTE], [ID_FUNCION], [FECHA_RESERVA], [CANTIDAD_ENTRADAS], [ID_ESTADO], [ID_COMPRA]) VALUES (11, 4, 1, CAST(N'2023-09-10T00:00:00.000' AS DateTime), 4, 1, 8)
SET IDENTITY_INSERT [dbo].[RESERVAS] OFF
GO
INSERT [dbo].[SALAS] ([ID_SALA], [CAPACIDAD], [DESCRIPCION], [ID_TIPO_SALA]) VALUES (1, 100, N'Sala Comfort A', 1)
INSERT [dbo].[SALAS] ([ID_SALA], [CAPACIDAD], [DESCRIPCION], [ID_TIPO_SALA]) VALUES (2, 80, N'Sala Premium B', 5)
INSERT [dbo].[SALAS] ([ID_SALA], [CAPACIDAD], [DESCRIPCION], [ID_TIPO_SALA]) VALUES (3, 50, N'Sala VIP C', 3)
GO
SET IDENTITY_INSERT [dbo].[TIPOS_COMPRA] ON 

INSERT [dbo].[TIPOS_COMPRA] ([ID_TIPO_COMPRA], [TIPO_COMPRA]) VALUES (1, N'Online')
INSERT [dbo].[TIPOS_COMPRA] ([ID_TIPO_COMPRA], [TIPO_COMPRA]) VALUES (2, N'Ventanilla')
SET IDENTITY_INSERT [dbo].[TIPOS_COMPRA] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOS_CONTACTO] ON 

INSERT [dbo].[TIPOS_CONTACTO] ([ID_TIPO_CONTACTO], [DESCRIPCION]) VALUES (1, N'Teléfono Móvil')
INSERT [dbo].[TIPOS_CONTACTO] ([ID_TIPO_CONTACTO], [DESCRIPCION]) VALUES (2, N'Teléfono Fijo')
INSERT [dbo].[TIPOS_CONTACTO] ([ID_TIPO_CONTACTO], [DESCRIPCION]) VALUES (3, N'E-mail')
SET IDENTITY_INSERT [dbo].[TIPOS_CONTACTO] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOS_DOCUMENTO] ON 

INSERT [dbo].[TIPOS_DOCUMENTO] ([ID_TIPO_DOC], [TIPO_DOC]) VALUES (1, N'Dni')
INSERT [dbo].[TIPOS_DOCUMENTO] ([ID_TIPO_DOC], [TIPO_DOC]) VALUES (2, N'Pasaporte')
INSERT [dbo].[TIPOS_DOCUMENTO] ([ID_TIPO_DOC], [TIPO_DOC]) VALUES (3, N'Cédula')
SET IDENTITY_INSERT [dbo].[TIPOS_DOCUMENTO] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOS_EMPLEADO] ON 

INSERT [dbo].[TIPOS_EMPLEADO] ([ID_TIPO_EMPLEADO], [TIPO_EMPLEADO]) VALUES (1, N'Gerente')
INSERT [dbo].[TIPOS_EMPLEADO] ([ID_TIPO_EMPLEADO], [TIPO_EMPLEADO]) VALUES (2, N'Vendedor')
INSERT [dbo].[TIPOS_EMPLEADO] ([ID_TIPO_EMPLEADO], [TIPO_EMPLEADO]) VALUES (3, N'Cajero')
SET IDENTITY_INSERT [dbo].[TIPOS_EMPLEADO] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOS_PELICULA] ON 

INSERT [dbo].[TIPOS_PELICULA] ([ID_TIPO_PELICULA], [DESCRIPCION]) VALUES (1, N'Estreno')
INSERT [dbo].[TIPOS_PELICULA] ([ID_TIPO_PELICULA], [DESCRIPCION]) VALUES (2, N'Re-estreno')
INSERT [dbo].[TIPOS_PELICULA] ([ID_TIPO_PELICULA], [DESCRIPCION]) VALUES (3, N'Avant Premier')
SET IDENTITY_INSERT [dbo].[TIPOS_PELICULA] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOS_SALA] ON 

INSERT [dbo].[TIPOS_SALA] ([ID_TIPO_SALA], [TIPO_SALA]) VALUES (1, N'Comfort')
INSERT [dbo].[TIPOS_SALA] ([ID_TIPO_SALA], [TIPO_SALA]) VALUES (2, N'Tradicional')
INSERT [dbo].[TIPOS_SALA] ([ID_TIPO_SALA], [TIPO_SALA]) VALUES (3, N'Vip')
SET IDENTITY_INSERT [dbo].[TIPOS_SALA] OFF
GO
ALTER TABLE [dbo].[CLIENTES] ADD  CONSTRAINT [DF_CLIENTES_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[BARRIOS]  WITH CHECK ADD  CONSTRAINT [FK_BARRIOS_CIUDADES] FOREIGN KEY([ID_CIUDAD])
REFERENCES [dbo].[CIUDADES] ([ID_CIUDAD])
GO
ALTER TABLE [dbo].[BARRIOS] CHECK CONSTRAINT [FK_BARRIOS_CIUDADES]
GO
ALTER TABLE [dbo].[BUTACAS_RESERVADAS]  WITH CHECK ADD  CONSTRAINT [fk_butacas_reservadas_butacas] FOREIGN KEY([ID_BUTACA], [id_sala])
REFERENCES [dbo].[BUTACAS] ([ID_BUTACA], [id_sala])
GO
ALTER TABLE [dbo].[BUTACAS_RESERVADAS] CHECK CONSTRAINT [fk_butacas_reservadas_butacas]
GO
ALTER TABLE [dbo].[BUTACAS_RESERVADAS]  WITH CHECK ADD  CONSTRAINT [FK_BUTACAS_RESERVADAS_FUNCIONES] FOREIGN KEY([ID_FUNCION])
REFERENCES [dbo].[FUNCIONES] ([ID_FUNCION])
GO
ALTER TABLE [dbo].[BUTACAS_RESERVADAS] CHECK CONSTRAINT [FK_BUTACAS_RESERVADAS_FUNCIONES]
GO
ALTER TABLE [dbo].[BUTACAS_RESERVADAS]  WITH CHECK ADD  CONSTRAINT [FK_BUTACAS_RESERVADAS_RESERVAS] FOREIGN KEY([ID_RESERVA])
REFERENCES [dbo].[RESERVAS] ([ID_RESERVA])
GO
ALTER TABLE [dbo].[BUTACAS_RESERVADAS] CHECK CONSTRAINT [FK_BUTACAS_RESERVADAS_RESERVAS]
GO
ALTER TABLE [dbo].[CIUDADES]  WITH CHECK ADD  CONSTRAINT [FK_CIUDADES_PROVINCIAS] FOREIGN KEY([ID_PROVINCIA])
REFERENCES [dbo].[PROVINCIAS] ([ID_PROVINCIA])
GO
ALTER TABLE [dbo].[CIUDADES] CHECK CONSTRAINT [FK_CIUDADES_PROVINCIAS]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTES_BARRIOS] FOREIGN KEY([ID_BARRIO])
REFERENCES [dbo].[BARRIOS] ([ID_BARRIO])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_CLIENTES_BARRIOS]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTES_TIPOS_DOCUMENTO] FOREIGN KEY([ID_TIPO_DOC])
REFERENCES [dbo].[TIPOS_DOCUMENTO] ([ID_TIPO_DOC])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_CLIENTES_TIPOS_DOCUMENTO]
GO
ALTER TABLE [dbo].[COMPRAS]  WITH CHECK ADD  CONSTRAINT [FK_COMPRAS_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[COMPRAS] CHECK CONSTRAINT [FK_COMPRAS_CLIENTES]
GO
ALTER TABLE [dbo].[COMPRAS]  WITH CHECK ADD  CONSTRAINT [FK_COMPRAS_EMPLEADOS] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADOS] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[COMPRAS] CHECK CONSTRAINT [FK_COMPRAS_EMPLEADOS]
GO
ALTER TABLE [dbo].[COMPRAS]  WITH CHECK ADD  CONSTRAINT [FK_COMPRAS_FORMAS_PAGO] FOREIGN KEY([ID_FORMA_PAGO])
REFERENCES [dbo].[FORMAS_PAGO] ([ID_FORMA_PAGO])
GO
ALTER TABLE [dbo].[COMPRAS] CHECK CONSTRAINT [FK_COMPRAS_FORMAS_PAGO]
GO
ALTER TABLE [dbo].[COMPRAS]  WITH CHECK ADD  CONSTRAINT [FK_COMPRAS_TIPOS_COMPRA] FOREIGN KEY([ID_TIPO_COMPRA])
REFERENCES [dbo].[TIPOS_COMPRA] ([ID_TIPO_COMPRA])
GO
ALTER TABLE [dbo].[COMPRAS] CHECK CONSTRAINT [FK_COMPRAS_TIPOS_COMPRA]
GO
ALTER TABLE [dbo].[CONTACTOS]  WITH CHECK ADD  CONSTRAINT [FK_CONTACTOS_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[CONTACTOS] CHECK CONSTRAINT [FK_CONTACTOS_CLIENTES]
GO
ALTER TABLE [dbo].[CONTACTOS]  WITH CHECK ADD  CONSTRAINT [FK_CONTACTOS_EMPLEADOS] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADOS] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[CONTACTOS] CHECK CONSTRAINT [FK_CONTACTOS_EMPLEADOS]
GO
ALTER TABLE [dbo].[CONTACTOS]  WITH CHECK ADD  CONSTRAINT [FK_CONTACTOS_TIPOS_CONTACTO] FOREIGN KEY([ID_TIPO_CONTACTO])
REFERENCES [dbo].[TIPOS_CONTACTO] ([ID_TIPO_CONTACTO])
GO
ALTER TABLE [dbo].[CONTACTOS] CHECK CONSTRAINT [FK_CONTACTOS_TIPOS_CONTACTO]
GO
ALTER TABLE [dbo].[DETALLE_BUTACAS]  WITH CHECK ADD  CONSTRAINT [fk_det_butacas_butaca] FOREIGN KEY([ID_BUTACA], [id_sala])
REFERENCES [dbo].[BUTACAS] ([ID_BUTACA], [id_sala])
GO
ALTER TABLE [dbo].[DETALLE_BUTACAS] CHECK CONSTRAINT [fk_det_butacas_butaca]
GO
ALTER TABLE [dbo].[DETALLE_BUTACAS]  WITH CHECK ADD  CONSTRAINT [fk_det_butacas_funcion] FOREIGN KEY([id_funcion])
REFERENCES [dbo].[FUNCIONES] ([ID_FUNCION])
GO
ALTER TABLE [dbo].[DETALLE_BUTACAS] CHECK CONSTRAINT [fk_det_butacas_funcion]
GO
ALTER TABLE [dbo].[DETALLES_COMPRA]  WITH CHECK ADD  CONSTRAINT [fk_det_compra_det_butacas] FOREIGN KEY([id_butaca], [id_funcion])
REFERENCES [dbo].[DETALLE_BUTACAS] ([ID_BUTACA], [id_funcion])
GO
ALTER TABLE [dbo].[DETALLES_COMPRA] CHECK CONSTRAINT [fk_det_compra_det_butacas]
GO
ALTER TABLE [dbo].[DETALLES_COMPRA]  WITH CHECK ADD  CONSTRAINT [fk_det_compras_compra] FOREIGN KEY([ID_COMPRA])
REFERENCES [dbo].[COMPRAS] ([ID_COMPRA])
GO
ALTER TABLE [dbo].[DETALLES_COMPRA] CHECK CONSTRAINT [fk_det_compras_compra]
GO
ALTER TABLE [dbo].[EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADOS_BARRIOS] FOREIGN KEY([ID_BARRIO])
REFERENCES [dbo].[BARRIOS] ([ID_BARRIO])
GO
ALTER TABLE [dbo].[EMPLEADOS] CHECK CONSTRAINT [FK_EMPLEADOS_BARRIOS]
GO
ALTER TABLE [dbo].[EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADOS_TIPOS_DOCUMENTO] FOREIGN KEY([ID_TIPO_DOC])
REFERENCES [dbo].[TIPOS_DOCUMENTO] ([ID_TIPO_DOC])
GO
ALTER TABLE [dbo].[EMPLEADOS] CHECK CONSTRAINT [FK_EMPLEADOS_TIPOS_DOCUMENTO]
GO
ALTER TABLE [dbo].[EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADOS_TIPOS_EMPLEADO] FOREIGN KEY([ID_TIPO_EMPLEADO])
REFERENCES [dbo].[TIPOS_EMPLEADO] ([ID_TIPO_EMPLEADO])
GO
ALTER TABLE [dbo].[EMPLEADOS] CHECK CONSTRAINT [FK_EMPLEADOS_TIPOS_EMPLEADO]
GO
ALTER TABLE [dbo].[FUNCIONES]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONES_PELICULAS] FOREIGN KEY([ID_PELICULA])
REFERENCES [dbo].[PELICULAS] ([ID_PELICULA])
GO
ALTER TABLE [dbo].[FUNCIONES] CHECK CONSTRAINT [FK_FUNCIONES_PELICULAS]
GO
ALTER TABLE [dbo].[FUNCIONES]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONES_PROMOCIONES] FOREIGN KEY([ID_PROMOCION])
REFERENCES [dbo].[PROMOCIONES] ([ID_PROMOCION])
GO
ALTER TABLE [dbo].[FUNCIONES] CHECK CONSTRAINT [FK_FUNCIONES_PROMOCIONES]
GO
ALTER TABLE [dbo].[FUNCIONES]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONES_SALAS] FOREIGN KEY([ID_SALA])
REFERENCES [dbo].[SALAS] ([ID_SALA])
GO
ALTER TABLE [dbo].[FUNCIONES] CHECK CONSTRAINT [FK_FUNCIONES_SALAS]
GO
ALTER TABLE [dbo].[PELICULAS]  WITH CHECK ADD  CONSTRAINT [FK_PELICULAS_CALIFICACIONES] FOREIGN KEY([ID_CALIFICACION])
REFERENCES [dbo].[CALIFICACIONES] ([ID_CALIFICACION])
GO
ALTER TABLE [dbo].[PELICULAS] CHECK CONSTRAINT [FK_PELICULAS_CALIFICACIONES]
GO
ALTER TABLE [dbo].[PELICULAS]  WITH CHECK ADD  CONSTRAINT [FK_PELICULAS_DISTRIBUIDORES] FOREIGN KEY([ID_DISTRIBUIDOR])
REFERENCES [dbo].[DISTRIBUIDORES] ([ID_DISTRIBUIDOR])
GO
ALTER TABLE [dbo].[PELICULAS] CHECK CONSTRAINT [FK_PELICULAS_DISTRIBUIDORES]
GO
ALTER TABLE [dbo].[PELICULAS]  WITH CHECK ADD  CONSTRAINT [FK_PELICULAS_PAISES] FOREIGN KEY([ID_PAIS])
REFERENCES [dbo].[PAISES] ([ID_PAIS])
GO
ALTER TABLE [dbo].[PELICULAS] CHECK CONSTRAINT [FK_PELICULAS_PAISES]
GO
ALTER TABLE [dbo].[PELICULAS]  WITH CHECK ADD  CONSTRAINT [FK_PELICULAS_TIPOS_PELICULA] FOREIGN KEY([ID_TIPO_PELICULA])
REFERENCES [dbo].[TIPOS_PELICULA] ([ID_TIPO_PELICULA])
GO
ALTER TABLE [dbo].[PELICULAS] CHECK CONSTRAINT [FK_PELICULAS_TIPOS_PELICULA]
GO
ALTER TABLE [dbo].[PELICULAS_GENEROS]  WITH CHECK ADD  CONSTRAINT [FK_PELICULAS_GENEROS_GENEROS] FOREIGN KEY([ID_GENERO])
REFERENCES [dbo].[GENEROS] ([ID_GENERO])
GO
ALTER TABLE [dbo].[PELICULAS_GENEROS] CHECK CONSTRAINT [FK_PELICULAS_GENEROS_GENEROS]
GO
ALTER TABLE [dbo].[PELICULAS_GENEROS]  WITH CHECK ADD  CONSTRAINT [FK_PELICULAS_GENEROS_PELICULAS] FOREIGN KEY([ID_PELICULA])
REFERENCES [dbo].[PELICULAS] ([ID_PELICULA])
GO
ALTER TABLE [dbo].[PELICULAS_GENEROS] CHECK CONSTRAINT [FK_PELICULAS_GENEROS_PELICULAS]
GO
ALTER TABLE [dbo].[PROVINCIAS]  WITH CHECK ADD  CONSTRAINT [FK_PROVINCIAS_PAISES] FOREIGN KEY([ID_PAIS])
REFERENCES [dbo].[PAISES] ([ID_PAIS])
GO
ALTER TABLE [dbo].[PROVINCIAS] CHECK CONSTRAINT [FK_PROVINCIAS_PAISES]
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD  CONSTRAINT [FK_RESERVAS_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[RESERVAS] CHECK CONSTRAINT [FK_RESERVAS_CLIENTES]
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD  CONSTRAINT [FK_RESERVAS_COMPRAS] FOREIGN KEY([ID_COMPRA])
REFERENCES [dbo].[COMPRAS] ([ID_COMPRA])
GO
ALTER TABLE [dbo].[RESERVAS] CHECK CONSTRAINT [FK_RESERVAS_COMPRAS]
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD  CONSTRAINT [FK_RESERVAS_ESTADOS] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADOS] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[RESERVAS] CHECK CONSTRAINT [FK_RESERVAS_ESTADOS]
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD  CONSTRAINT [FK_RESERVAS_FUNCIONES] FOREIGN KEY([ID_FUNCION])
REFERENCES [dbo].[FUNCIONES] ([ID_FUNCION])
GO
ALTER TABLE [dbo].[RESERVAS] CHECK CONSTRAINT [FK_RESERVAS_FUNCIONES]
GO
ALTER TABLE [dbo].[SALAS]  WITH CHECK ADD  CONSTRAINT [FK_SALAS_TIPOS_SALA] FOREIGN KEY([ID_TIPO_SALA])
REFERENCES [dbo].[TIPOS_SALA] ([ID_TIPO_SALA])
GO
ALTER TABLE [dbo].[SALAS] CHECK CONSTRAINT [FK_SALAS_TIPOS_SALA]
GO
/****** Object:  StoredProcedure [dbo].[pa_analisis_ocupacion]    Script Date: 02/11/2024 20:23:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pa_analisis_ocupacion]
@fecha1 DATETIME,
@fecha2 DATETIME
AS
BEGIN
	IF @fecha2 < @fecha1
    BEGIN
        PRINT('La fecha final no puede ser anterior a la fecha inicial.');
        RETURN;
    END

	SELECT 
        COUNT(DISTINCT br.ID_RESERVA) AS 'Total Reservas',
        COUNT(DISTINCT d.ID_COMPRA) AS 'Total Compradas',
         CONCAT(ROUND(
            CAST(COUNT(br.ID_BUTACA) + COUNT(d.ID_BUTACA) AS FLOAT) / 
            (SELECT SUM(s.CAPACIDAD) 
             FROM FUNCIONES f2
             JOIN SALAS s ON f2.ID_SALA = s.ID_SALA
             WHERE f2.FECHA_FUNCION BETWEEN @fecha1 AND @fecha2) * 100,2), '%'
        ) AS 'Porcentaje Ocupacion',
        (SELECT TOP 1 CONCAT(c.NOMBRE, ' ', c.APELLIDO) 
			 FROM RESERVAS r2
			 JOIN CLIENTES c ON r2.ID_CLIENTE = c.ID_CLIENTE
			 WHERE r2.FECHA_RESERVA BETWEEN @fecha1 AND @fecha2
			 GROUP BY c.NOMBRE, c.APELLIDO
			 ORDER BY COUNT(r2.ID_RESERVA) DESC)'Cliente con más Reservas',
        p.TITULO 'Pelicula más Vista',
		f.ID_SALA
    FROM SALAS s
    LEFT JOIN BUTACAS_RESERVADAS br ON s.ID_SALA = br.ID_SALA
    LEFT JOIN RESERVAS r ON br.ID_RESERVA = r.ID_RESERVA
    LEFT JOIN DETALLES_COMPRA d ON r.ID_COMPRA = d.ID_COMPRA
    LEFT JOIN FUNCIONES f ON br.ID_FUNCION = f.ID_FUNCION
    LEFT JOIN CLIENTES c ON r.ID_CLIENTE = c.ID_CLIENTE
    LEFT JOIN PELICULAS p ON f.ID_PELICULA = p.ID_PELICULA
    WHERE r.FECHA_RESERVA BETWEEN @fecha1 AND @fecha2
    GROUP BY p.TITULO, f.ID_SALA
    ORDER BY COUNT(br.ID_BUTACA) DESC; -- Para obtener la película más vista


END
GO
/****** Object:  StoredProcedure [dbo].[PA_CONSULTA_CLIENTE]    Script Date: 02/11/2024 20:23:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PA_CONSULTA_CLIENTE]
@nombre VARCHAR(50),
@apellido VARCHAR (50)
AS
BEGIN 
IF @nombre IS NULL OR @nombre = '' OR @apellido IS NULL OR @apellido = ''
    		BEGIN
        		PRINT('Los parámetros de nombre y apellido no pueden estar vacíos.')
        		RETURN
    		END

IF NOT EXISTS (SELECT 1 FROM CLIENTES cl 
			 WHERE cl.NOMBRE = @nombre AND cl.APELLIDO = @apellido)
    		BEGIN
			PRINT('No se encontró ningún cliente con el nombre y apellido proporcionados.')
        		RETURN
    		END

SELECT YEAR(FECHA_COMPRA) 'Año', DATENAME(MONTH,FECHA_COMPRA) 'Mes',
COUNT(*) 'cant_compras',
SUM(dc.PRECIO_ENTRADA) 'total_facturado',
MAX(dc.PRECIO_ENTRADA) 'mas_alta'
FROM COMPRAS co 
join DETALLES_COMPRA dc ON co.ID_COMPRA = dc.ID_COMPRA 
join CLIENTES cl ON cl.ID_CLIENTE = co.ID_CLIENTE
WHERE cl.NOMBRE like @nombre and cl.APELLIDO like @apellido and co.DESCUENTO > 0.5
GROUP BY YEAR(FECHA_COMPRA), DATENAME(MONTH,FECHA_COMPRA)
ORDER BY 1,2
END


--EXEC PA_CONSULTA_CLIENTE 'Juan', 'Perez'
GO
/****** Object:  StoredProcedure [dbo].[pa_verificar_disponibilidad]    Script Date: 02/11/2024 20:23:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pa_verificar_disponibilidad]
@pelicula varchar(50),
@fecha datetime
AS
BEGIN
DECLARE @butacas_disponibles int

	SELECT @butacas_disponibles = COUNT(b.ID_BUTACA)
       FROM BUTACAS b
    	LEFT JOIN BUTACAS_RESERVADAS br ON br.ID_BUTACA = b.ID_BUTACA
	     AND br.ID_FUNCION = (SELECT ID_FUNCION 
              	            FROM FUNCIONES f 
                    		     JOIN PELICULAS p ON f.ID_PELICULA = p.ID_PELICULA 
                           	     WHERE f.FECHA_FUNCION = @fecha AND p.TITULO LIKE '%'+@pelicula+'%')
    	LEFT JOIN DETALLES_COMPRA dc ON dc.ID_BUTACA = b.ID_BUTACA
    	WHERE b.ID_SALA = (SELECT f2.ID_SALA
                          FROM FUNCIONES f2 
                          JOIN PELICULAS p2 ON f2.ID_PELICULA = p2.ID_PELICULA
                          WHERE f2.FECHA_FUNCION = @fecha 
                          AND p2.TITULO LIKE '%' + @pelicula + '%')
      AND br.ID_BUTACA IS NULL -- Excluir butacas reservadas
      AND dc.ID_BUTACA IS NULL -- Excluir butacas compradas

IF @butacas_disponibles>0
		PRINT 'Hay ' + CAST(@butacas_disponibles AS VARCHAR(10)) + ' butacas disponibles'
       ELSE
        	PRINT 'No hay butacas disponibles para la función.'
END

--EXEC pa_verificar_disponibilidad 
--     @pelicula = 'Hellboy',
--     @fecha = '10-10-2024'

GO
USE [master]
GO
