CREATE DATABASE FACTURACION
GO
USE [FACTURACION]
GO
/****** Object:  Table [dbo].[ARTICULOS]    Script Date: 17/09/2024 13:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ARTICULOS](
	[ID_ARTICULO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_ARTICULO] [varchar](30) NOT NULL,
	[PRECIO_UNITARIO] [money] NOT NULL,
	[ACTIVO] [bit] NOT NULL CONSTRAINT [DF_ARTICULOS_ACTIVO]  DEFAULT ((1)),
 CONSTRAINT [PK_ARTICULOS] PRIMARY KEY CLUSTERED 
(
	[ID_ARTICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETALLE_FACTURA]    Script Date: 17/09/2024 13:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_FACTURA](
	[ID_DETALLE] [int] NOT NULL,
	[NRO_FACTURA] [int] NOT NULL,
	[ID_ARTICULO] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
 CONSTRAINT [PK_DETALLE_FACTURA] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE] ASC,
	[NRO_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FACTURAS]    Script Date: 17/09/2024 13:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FACTURAS](
	[NRO_FACTURA] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[ID_FORMA_PAGO] [int] NOT NULL,
	[CLIENTE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FACTURAS] PRIMARY KEY CLUSTERED 
(
	[NRO_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FORMAS_PAGO]    Script Date: 17/09/2024 13:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMAS_PAGO](
	[ID_FORMA_PAGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_FP] [nchar](10) NOT NULL,
 CONSTRAINT [PK_FORMAS_PAGO] PRIMARY KEY CLUSTERED 
(
	[ID_FORMA_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_FACTURAS_FORMAS_PAGO] FOREIGN KEY([ID_FORMA_PAGO])
REFERENCES [dbo].[FORMAS_PAGO] ([ID_FORMA_PAGO])
GO
ALTER TABLE [dbo].[FACTURAS] CHECK CONSTRAINT [FK_FACTURAS_FORMAS_PAGO]
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_DETALLE]    Script Date: 17/09/2024 13:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ACTUALIZAR_DETALLE]
    @nro_factura INT,
    @id_articulo INT,
    @cantidad INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM DETALLE_FACTURA WHERE nro_factura = @nro_factura AND id_articulo = @id_articulo)
    BEGIN
        UPDATE DETALLE_FACTURA
        SET cantidad = cantidad + @cantidad
        WHERE nro_factura = @nro_factura AND id_articulo = @id_articulo;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CANCELAR_ARTICULO]    Script Date: 17/09/2024 13:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CANCELAR_ARTICULO]
@id_articulo int
AS
BEGIN
	UPDATE ARTICULOS SET ACTIVO=0
	WHERE ID_ARTICULO = @id_articulo
END


GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_DETALLE]    Script Date: 17/09/2024 13:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_DETALLE]
@id_detalle int,
@nro_factura int,
@id_articulo int,
@cantidad int
AS
BEGIN
	IF EXISTS(SELECT 1 FROM DETALLE_FACTURA
			  WHERE NRO_FACTURA=@nro_factura AND ID_ARTICULO=@id_articulo)
	BEGIN
		UPDATE DETALLE_FACTURA
		SET CANTIDAD = CANTIDAD +@cantidad
		WHERE NRO_FACTURA=@nro_factura AND ID_ARTICULO=@id_articulo;
	END
	ELSE
	BEGIN
		INSERT INTO DETALLE_FACTURA(ID_DETALLE,NRO_FACTURA,ID_ARTICULO,CANTIDAD)
		VALUES(@id_detalle,@nro_factura,@id_articulo,@cantidad)
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_MAESTRO]    Script Date: 17/09/2024 13:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_MAESTRO]
@id_forma_pago int,
@cliente varchar(50),
@nro_factura int output
AS
BEGIN
	INSERT INTO FACTURAS(FECHA, ID_FORMA_PAGO, CLIENTE)
	VALUES(GETDATE(),@id_forma_pago, @cliente);
	SET @nro_factura=SCOPE_IDENTITY();
END

GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENER_ARTICULOS]    Script Date: 17/09/2024 13:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OBTENER_ARTICULOS]
AS
BEGIN
SELECT
ID_ARTICULO,NOMBRE_ARTICULO, PRECIO_UNITARIO
FROM ARTICULOS
WHERE ACTIVO=1
END


GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENER_FACTURA_CON_DETALLES]    Script Date: 17/09/2024 13:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OBTENER_FACTURA_CON_DETALLES]
AS
BEGIN
SELECT 
        f.NRO_FACTURA,
        f.FECHA,
        f.CLIENTE,
        fp.NOMBRE_FP,
        d.ID_DETALLE,
        a.NOMBRE_ARTICULO,
		a.PRECIO_UNITARIO,
        d.CANTIDAD
    FROM 
        FACTURAS f
    JOIN 
        DETALLE_FACTURA d ON f.NRO_FACTURA = d.NRO_FACTURA
	JOIN
		ARTICULOS a ON a.ID_ARTICULO=d.ID_ARTICULO
	JOIN
		FORMAS_PAGO fp ON fp.ID_FORMA_PAGO=f.ID_FORMA_PAGO
END
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENER_FACTURAS]    Script Date: 17/09/2024 13:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OBTENER_FACTURAS]
AS
BEGIN
SELECT
NRO_FACTURA, FECHA, FP.NOMBRE_FP, CLIENTE
FROM FACTURAS F
JOIN FORMAS_PAGO FP ON FP.ID_FORMA_PAGO=F.ID_FORMA_PAGO
END

GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENER_FORMAS_PAGO]    Script Date: 17/09/2024 13:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OBTENER_FORMAS_PAGO]
AS
BEGIN
SELECT
ID_FORMA_PAGO,NOMBRE_FP
FROM FORMAS_PAGO
END


GO
/****** Object:  StoredProcedure [dbo].[SP_SAVE_ARTICULOS]    Script Date: 17/09/2024 13:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SAVE_ARTICULOS]
@id_articulo int,
@nombre_articulo varchar(30),
@precio_unitario money
AS
BEGIN
	IF @id_articulo is not null
		BEGIN
			UPDATE ARTICULOS
			SET NOMBRE_ARTICULO=@nombre_articulo, PRECIO_UNITARIO=@precio_unitario
			WHERE ID_ARTICULO=@id_articulo
		END
	ELSE
		BEGIN
			INSERT INTO ARTICULOS(NOMBRE_ARTICULO, PRECIO_UNITARIO, ACTIVO)
			VALUES(@nombre_articulo, @precio_unitario,1)
		END
END

GO
