USE [master]
GO
/****** Object:  Database [CineDb]    Script Date: 04/10/2024 11:19:00 ******/
CREATE DATABASE [CineDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CineDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSV\MSSQL\DATA\CineDb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CineDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSV\MSSQL\DATA\CineDb_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CineDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CineDb]
GO
/****** Object:  Table [dbo].[Generos]    Script Date: 04/10/2024 11:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Generos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Geneross] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Peliculas]    Script Date: 04/10/2024 11:19:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Peliculas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[director] [varchar](50) NOT NULL,
	[anho] [int] NOT NULL,
	[genero] [int] NOT NULL,
	[estreno] [bit] NULL,
 CONSTRAINT [PK_Peliculas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Generos] ON 

INSERT [dbo].[Generos] ([id], [nombre]) VALUES (1, N'DRAMA')
INSERT [dbo].[Generos] ([id], [nombre]) VALUES (2, N'THRILLER')
SET IDENTITY_INSERT [dbo].[Generos] OFF
SET IDENTITY_INSERT [dbo].[Peliculas] ON 

INSERT [dbo].[Peliculas] ([id], [titulo], [director], [anho], [genero], [estreno]) VALUES (1, N'LINDA', N'SPIELBERG', 2020, 1, 0)
INSERT [dbo].[Peliculas] ([id], [titulo], [director], [anho], [genero], [estreno]) VALUES (3, N'EL OSO ROJO', N'MEDINA', 1980, 2, 1)
INSERT [dbo].[Peliculas] ([id], [titulo], [director], [anho], [genero], [estreno]) VALUES (6, N'Voyage', N'Fernandez', 1999, 2, 1)
SET IDENTITY_INSERT [dbo].[Peliculas] OFF
ALTER TABLE [dbo].[Peliculas]  WITH CHECK ADD  CONSTRAINT [FK_Peliculas_Generos] FOREIGN KEY([genero])
REFERENCES [dbo].[Generos] ([id])
GO
ALTER TABLE [dbo].[Peliculas] CHECK CONSTRAINT [FK_Peliculas_Generos]
GO
USE [master]
GO
